<h1><%= @island.name %></h1>

<p>Address: <%= @island.address %></p>
<p>Description: <%= @restaurant.description %></p>
<p>Price: <%= @restaurant.daily_rate %></p>
<p>Avaliable: <%= @restaurant.availability %></p>

<%= link_to "Back to all islands", islands_path %>
